* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #151f28;
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100%;
}
